/* right nav */
.navLine{
    position:fixed;   
    right:10px;
    top: 10px;
    .line{
        position: relative;
        cursor: pointer;
        &:hover .tag{
            display:block;
        }
        &:hover .point{
            background-color: #18a689;
        }
    }

    .start,.end{
        .point{
            background-color: #23c6c8;
            width: 20px;
            height: 20px; 
            margin-left: 0;  
        } 
    }
    .cur{
       .point{
            background-color: #1c84c6;  
        }
        .tag{
            display: block;
        }  
    }
    .small{
        .point{
            width: 10px;
            height: 10px; 
            margin-left: 5px;
        } 
    }
    .xsmall{
       .point{
            width: 6px;
            height: 6px; 
            margin-left: 7px;
        }  
    }
    .end{
        .point{
            &:after{
                width:0 !important;
                height: 0 !important;
            }
        } 
    }
    
    .point{
        background-color: #d1dade;
        width: 16px;
        height: 16px;
        border-radius: 10px; 
        margin-bottom: 20px;
        margin-left: 2px;
        &:after{
            content:'';
            height: 20px;
            width: 2px;
            background-color: #ccc;
            position: absolute;
            top:100%;
            right: 50%;
            margin-right: -1px;
        }
    }
    .tag{
        background-color: #d1dade;
        color: #5e5e5e;
        padding:5px;
        border-radius: 2px;
        position: absolute;
        right: 100%; 
        top:0;
        white-space: nowrap;
        margin-right: 15px;
        display: none;
        &:after{
            content:''; 
            border:5px solid transparent;
            border-left: 5px solid #d1dade;
            position: absolute;            
            right: -10px;
        }
        &:hover{
            display: block;
        }
    }
}

/* right nav end */