.HeadBlock {
    position: relative;
    padding: 40px 20px;
    .HB_cover {
        color: white;
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        left: 0;
        display: none;
    }

    &:hover .HB_cover{
        display: block;
    }
}
